#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
  gap: 20px
}

.ingredients-wrapper,
.burger-wrapper {
  border: 1px solid black;
  padding: 20px;
}

.add-ingredient {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
  justify-content: space-between;
}

